.App {
  text-align: center;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.game-field {
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

.game-field.visible {
  visibility: visible;
}

.board {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  margin-right: 30px;
  width: 210px;
}

.board-cell {
  align-items: center;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 70px;
  font-weight: 700;
  font-size: 22px;
  opacity: 1;
}

.board-cell>.hide {
  opacity: 0;
}

.notification {
  color: #3c3c3c;
  font-size: 24px;
  padding: 10px;
}

.notification-item {
  margin: 35px;
}

.notification-item.yes {
  color: rgb(30, 255, 0);
}

.notification-item.no {
  color: orangered;
}

.button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px;
  width: 150px;
}

.button:hover {
  border-radius: 18px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  color: #38506e;
}

.letters {
  list-style: none;
}

.letter,
.letters {
  display: flex;
  align-items: center;  
  justify-content: center;
}

.letters {
  margin-bottom: 30px;
}

.letter {  
  margin: 0 10px;
}

.letter button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #38506e;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
}

.letter button.show  {
  font-size: 24px;
  background: #fff;
  color: #38506e;
}

.letter button:hover {
  border: none;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.3);
  color: #d1d1d1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;  
  z-index: -1;
}

.modal {
  background-color: #fff;
  width: 70%;
  max-width: 500px;
  max-height: 300px;
  padding: 40px 30px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 24px;
  width: 24px;
  opacity: 0.3;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-close-btn:hover {
  opacity: 1;
}

.overlay .modal {
  opacity: 0;
  visibility: hidden;
}

.overlay.modal-show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  z-index: 1;
}

.overlay.modal-show .modal {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
  z-index: 2;
}

